Repository Letto228/Angular-learnjs-261023: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npm run prettier:fix

.lintstagedrc.json:

{
    "*.{ts,js,html}": ["npx eslint --fix"],
    "*.json": ["npm run prettier:fix"]
}

feat: lecture-5-dz
  src/app/pages/products-list/products-list.component.ts
  src/app/shared/scroll-with-loading/constants/border-indent.ts
  src/app/shared/scroll-with-loading/constants/load-direction.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.ts
  src/app/shared/scroll-with-loading/utils/is-scroll-reach-top.ts
  src/app/shared/scroll-with-loading/utils/is-scroll-reach.bottom.ts
Due: npx eslint --fix

feat: добавляет передачу значения через контекст
  src/app/shared/pagination/pagination.directive.ts
Due: npx eslint --fix

feat: добавление ProductsFilterPipe
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/products-filter/products-filter.module.ts
  src/app/shared/products-filter/products-filter.pipe.spec.ts
  src/app/shared/products-filter/products-filter.pipe.ts
Due: npx eslint --fix

fix: outOfViewPortBottom changed
  src/app/shared/appscrollwithloading/appscrollwithloading.directive.ts
  src/app/shared/appscrollwithloading/load-direction.enum.ts
Due: npx eslint --fix

feat: добавление FilterByPropertyPipe
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/filter-by-property/filter-by-property.module.ts
  src/app/shared/filter-by-property/filter-by-property.pipe.ts
Due: npx eslint --fix

fix: add scroll direction detection without rxjs subject
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.ts
Due: npx eslint --fix

fix: method updateView, refactoring
  package-lock.json
  package.json
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/shared/pagination/pagination-context.interface.ts
  src/app/shared/pagination/pagination.directive.ts
Due: npx eslint --fix, npm run prettier:fix

fix: chank and button
  src/app/pages/products-list/products-list.component.html
  src/app/shared/pagination/pagination-context.interface.ts
  src/app/shared/pagination/pagination.directive.ts
Due: npx eslint --fix

feat: add filter by property pipe
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/filter-by-property/filter-by-property.module.ts
  src/app/shared/filter-by-property/filter-by-property.pipe.spec.ts
  src/app/shared/filter-by-property/filter-by-property.pipe.ts
  src/app/shared/filter-by-property/is-string.ts
Due: npx eslint --fix

chore: sanitize project
  src/app/app.module.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.ts
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/shared/currency/currency.pipe.ts
  src/app/shared/currency/currency.ts
  src/app/shared/products/products-store.service.ts
Due: npx eslint --fix

fix: изменяет используемый pipe
  src/app/pages/products-list/products-list.component.html
Due: npx eslint --fix

feat: product list filter pipe
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/products-filter/products-filter.module.ts
  src/app/shared/products-filter/products-filter.pipe.ts
Due: npx eslint --fix

feat: lecture 8
  src/app/app.module.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/base-url/base-url.const.ts
  src/app/shared/base-url/base-url.interceptor.spec.ts
  src/app/shared/base-url/base-url.interceptor.ts
  src/app/shared/base-url/base-url.token.ts
  src/app/shared/carousel/carousel.directive.ts
  src/app/shared/destroy/destroy.service.spec.ts
  src/app/shared/destroy/destroy.service.ts
  src/app/shared/products/products-api.service.ts
  src/app/shared/products/products-store.service.ts
  src/app/shared/products/products.dto.ts
  src/main.ts
Due: npx eslint --fix

fix: remove unused types exports, rework pipe
  src/app/pages/products-list/products-list.component.html
  src/app/shared/products-filter/products-filter.pipe.ts
  src/app/shared/products/products.mock.ts
Due: npx eslint --fix

refactor: check for search strings
  src/app/pages/products-list/products-list.component.html
  src/app/shared/products-filter/products-filter.pipe.ts
Due: npx eslint --fix

feat: add pagination
  angular.json
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/carousel/carousel.directive.ts
  src/app/shared/pagination/pagination-context.interface.ts
  src/app/shared/pagination/pagination.directive.spec.ts
  src/app/shared/pagination/pagination.directive.ts
  src/app/shared/pagination/pagination.module.ts
Due: npx eslint --fix, npm run prettier:fix

feat: add homework stand
  src/app/components/header/header.component.html
  src/app/components/header/header.component.ts
Due: npx eslint --fix

feat: add popup host
  src/app/app.component.html
  src/app/app.module.ts
Due: npx eslint --fix

feat: add popup service
  src/app/components/header/header.component.ts
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.ts
  src/app/components/popup-host/popup-host.module.ts
Due: npx eslint --fix

feat: create popup service
  src/app/shared/popup/popup-content.interface.ts
  src/app/shared/popup/popup.service.spec.ts
  src/app/shared/popup/popup.service.ts
Due: npx eslint --fix

feat: add filter pipe
  angular.json
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/filter-by-property/filterbyproperty.module.ts
  src/app/shared/filter-by-property/filterbyproperty.pipe.spec.ts
  src/app/shared/filter-by-property/filterbyproperty.pipe.ts
Due: npx eslint --fix, npm run prettier:fix

feat: use service for popup host component
  src/app/components/header/header.component.ts
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.ts
  src/app/components/popup-host/popup-template-data.interface.ts
  src/app/components/popup-host/popup.service.spec.ts
  src/app/components/popup-host/popup.service.ts
Due: npx eslint --fix

fix: use destroy service for unsubscribe in popup host component
  src/app/components/popup-host/popup-host.component.ts
Due: npx eslint --fix

feat: add popup service
  angular.json
  src/app/components/header/header.component.html
  src/app/components/header/header.component.ts
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.ts
  src/app/shared/popup/popup.service.spec.ts
  src/app/shared/popup/popup.service.ts
  src/app/shared/popup/template-data.interface.ts
Due: npx eslint --fix, npm run prettier:fix

feat: add component scroll loading
  src/app/app.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/scroll-loading/scroll-loading.const.ts
  src/app/shared/scroll-loading/scroll-loading.directive.spec.ts
  src/app/shared/scroll-loading/scroll-loading.directive.ts
  src/app/shared/scroll-loading/scroll-loading.module.ts
Due: npx eslint --fix

feat: popup using service
  src/app/app.module.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.ts
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.ts
  src/app/components/popup-host/popup-host.module.ts
  src/app/shared/popup/popup.interface.ts
  src/app/shared/popup/popup.service.ts
Due: npx eslint --fix

feat: add close popup button to popup host component
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.ts
  src/app/components/popup-host/popup-host.module.ts
Due: npx eslint --fix

fix: add readonly for template data stream
  src/app/components/popup-host/popup.service.ts
Due: npx eslint --fix

feat: make popup service
  angular.json
  src/app/app.module.ts
  src/app/components/header/header.component.ts
  src/app/components/popup-host/popup-host.component.ts
  src/app/shared/popup/popup.service.spec.ts
  src/app/shared/popup/popup.service.ts
  src/app/shared/popup/popupcontext.interface.ts
Due: npx eslint --fix, npm run prettier:fix

feat: add popup service
  src/app/components/header/header.component.ts
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.ts
  src/app/shared/popup/popup-template-context.interface.ts
  src/app/shared/popup/popup-template.interface.ts
  src/app/shared/popup/popup.service.spec.ts
  src/app/shared/popup/popup.service.ts
Due: npx eslint --fix

feat: add products-filter pipe
  src/app/shared/products-filter/products-filter.module.ts
  src/app/shared/products-filter/products-filter.pipe.spec.ts
  src/app/shared/products-filter/products-filter.pipe.ts
Due: npx eslint --fix

feat: add products-filter pipe
  .eslintrc.js
  angular.json
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npx eslint --fix, npm run prettier:fix

feat: дз 7. hard. реализация пайпа filter
  package-lock.json
  package.json
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/filter/filter.module.ts
  src/app/shared/filter/filter.pipe.spec.ts
  src/app/shared/filter/filter.pipe.ts
  src/app/shared/pagination/pagination.module.ts
Due: npx eslint --fix, npm run prettier:fix

feat: lecture-6-dz
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/pagination/pagination-context.interface.ts
  src/app/shared/pagination/pagination.directive.spec.ts
  src/app/shared/pagination/pagination.directive.ts
  src/app/shared/pagination/pagination.module.ts
Due: npx eslint --fix

fix: fix pagination bugs
  src/app/shared/pagination/pagination-context.interface.ts
  src/app/shared/pagination/pagination.directive.ts
Due: npx eslint --fix

fix: remove close button wrapper
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
Due: npx eslint --fix

fix: nullish coalescing
  src/app/components/popup-host/popup-host.component.ts
Due: npx eslint --fix

fix: add private remove oninit
  src/app/shared/pagination/pagination.directive.ts
Due: npx eslint --fix

fix: fix carousel bug
  src/app/shared/carousel/carousel.directive.ts
Due: npx eslint --fix

fix: move @types/lodash dependenc to devDependencies
  package-lock.json
  package.json
Due: npm run prettier:fix
