Repository Letto228/Angular-learnjs-261023: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npx eslint

Расширяет конфигурацию ESLint
  .eslintrc.json
  package-lock.json
  package.json
Due: npm run prettier:fix

Обновляет конфигурацию Prettier
  .prettierrc.json
Due: npm run prettier:fix

Добавляет в конфигурацию TypeScript алиасы путей
  tsconfig.json
Due: npm run prettier:fix

Lecture 1
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.json
  .stylelintrc.json
  angular.json
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.css
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/main.ts
  src/styles.css
  tsconfig.json
Due: npm run prettier:fix, npx eslint

Дополнен конфиг prittier, в ESLint подключена конфигурация от google, в lint-staged добавлен prittier для файлов с расширениями html и css.
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.json
  package-lock.json
  package.json
Due: npm run prettier:fix

feat(eslint-config): Airbnb style guide, imports auto sorting, unused imports removal
  .eslintrc.json
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/main.ts
Due: npm run prettier:fix, npx eslint

feat(prettier-config): new settings, attributes plugin added, avoid eslint conflicts
  .eslintrc.json
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
Due: npm run prettier:fix, npx eslint

feat: do some experiments with settings of eslint and prettier
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.json
  angular.json
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/environments/environment.development.ts
  src/environments/environment.qa.ts
  src/environments/environment.ts
  src/main.ts
Due: npm run prettier:fix, npx eslint

Add fix flag
  .lintstagedrc.json
Due: npm run prettier:fix

Исправлена ошибка в prettierrc
  .prettierrc.json
Due: npm run prettier:fix

dz-1, changed some but have problem
  .eslintrc.json
  angular.json
  package-lock.json
  package.json
  src/app/app.component.spec.ts
  tsconfig.json
Due: npm run prettier:fix, npx eslint

feat: add friendship between prettier and eslint
  .eslintrc.json
  .lintstagedrc.json
  angular.json
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/environments/environment.development.ts
  src/environments/environment.qa.ts
  src/environments/environment.ts
  src/main.ts
Due: npm run prettier:fix, npx eslint

docs: heading change
  README.md
Due: none

lesson-0 test commit
  README.md
Due: none

update prettier
  .prettierrc.js
  .prettierrc.json
  package-lock.json
  package.json
Due: npm run prettier:fix, npx eslint

run prettier for all files
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/main.ts
Due: npm run prettier:fix, npx eslint

update eslint config
  .eslintrc.js
  .eslintrc.json
  package-lock.json
  package.json
Due: npm run prettier:fix, npx eslint

feat: add using of eslint-plugin-prettier and eslint-config-prettier
  .eslintrc.json
  .lintstagedrc.json
  package.json
Due: npm run prettier:fix

fix eslint error
  .eslintignore
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/index.html
Due: npm run prettier:fix, npx eslint

update lint-staged config
  .lintstagedrc.json
Due: npm run prettier:fix

update editor config
  .editorconfig
Due: none

feat: correct starting of prettier
  .eslintrc.json
  .lintstagedrc.json
  package.json
Due: npm run prettier:fix

feat: correct lint-staged config
  .lintstagedrc.json
Due: npm run prettier:fix

feat: add commit-lint
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: npm run prettier:fix, npx eslint

feat: add angilar material
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/index.html
  src/styles.css
Due: npm run prettier:fix, npx eslint

feat: lecture 2
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/header/header.component.css
  src/app/components/header/header.component.html
  src/app/components/header/header.component.spec.ts
  src/app/components/header/header.component.ts
  src/app/components/header/header.module.ts
  src/index.html
Due: npm run prettier:fix, npx eslint

feat: update eslint require-img-alt
  .eslintrc.js
Due: npm run prettier:fix, npx eslint

feat: pre lecture 2 homework
  src/app/app.component.html
  src/app/app.module.ts
  src/app/pages/products-list/card/README.md
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.spec.ts
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/products/product-image.interface.ts
  src/app/shared/products/product.interface.ts
  src/app/shared/products/product.mock.ts
Due: npm run prettier:fix, npx eslint

fix: automatically apply eslint
  .lintstagedrc.json
Due: npm run prettier:fix

feat: add card
  .eslintrc.js
  .prettierrc.js
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix, npx eslint

feat: setup card component files
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix, npx eslint

feat: add card planset
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix, npx eslint

feat: markup and logic
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix, npx eslint

feat: add card component and logic
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix, npx eslint

feat: create card component
  src/app/pages/products-list/card/README.md
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix, npx eslint

fix: onBuyClick right event type
  src/app/pages/products-list/card/card.component.ts
Due: npm run prettier:fix, npx eslint

feat: add product card
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix, npx eslint

fix: add preventDefault
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npm run prettier:fix, npx eslint

feat: add currency pipe, layout rework
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npm run prettier:fix, npx eslint

Path conditions:
  npm run prettier:fix: ((any of: *.{ts,js}) or (any of: *.json)) or (any of: *.html)
  npx eslint: any of: *.{ts,js}
