Repository Letto228/Angular-learnjs-261023: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npm run prettier:fix

.lintstagedrc.json:

{
    "*.{ts,js,html}": ["npx eslint --fix"],
    "*.json": ["npm run prettier:fix"]
}

feat: add popup fucntionality
  src/app/app.component.html
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.ts
Due: npx eslint --fix

refactor: change popup component
  src/app/app.component.html
  src/app/components/popup-host/popup-host.component.ts
Due: npx eslint --fix

fix: delete unused line
  src/app/app.component.html
Due: npx eslint --fix

fix: delete unused styles
  src/app/components/popup-host/popup-host.component.css
Due: none

fix: add ng-container
  src/app/components/popup-host/popup-host.component.html
Due: npx eslint --fix

fix: remove protected and extra properties
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npx eslint --fix

fix: add template control to Input
  src/app/components/popup-host/popup-host.component.ts
Due: npx eslint --fix

fix: review errors
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npx eslint --fix

fix: delete unused
  src/app/components/popup-host/popup-host.component.ts
Due: npx eslint --fix

fix: type fixes after review
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
Due: npx eslint --fix

feat: popup component
  src/app/app.module.ts
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.spec.ts
  src/app/components/popup-host/popup-host.component.ts
  src/app/components/popup-host/popup-host.module.ts
Due: npx eslint --fix

feat: add popup component
  angular.json
  src/app/app.component.html
  src/app/app.module.ts
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.spec.ts
  src/app/components/popup-host/popup-host.component.ts
  src/app/components/popup-host/popup-host.module.ts
Due: npx eslint --fix, npm run prettier:fix

feat: add scroll with loading directive
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/scroll-with-loading/load-direction.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.spec.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.module.ts
Due: npx eslint --fix

feat: add scroll with loading directive
  angular.json
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/scroll-with-loading/load-direction.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.spec.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.module.ts
Due: npx eslint --fix, npm run prettier:fix

feat: add directive
  .eslintrc.js
  angular.json
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.spec.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.module.ts
Due: npx eslint --fix, npm run prettier:fix

refactor: popup-host
  src/app/components/popup-host/popup-host.component.ts
Due: npx eslint --fix

feat: lecture-4-dz
  src/app/app.component.html
  src/app/app.module.ts
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.spec.ts
  src/app/components/popup-host/popup-host.component.ts
  src/app/components/popup-host/popup-host.module.ts
Due: npx eslint --fix

feat: add component popup
  src/app/app.component.html
  src/app/app.module.ts
  src/app/components/popup/popup.component.css
  src/app/components/popup/popup.component.html
  src/app/components/popup/popup.component.spec.ts
  src/app/components/popup/popup.component.ts
  src/app/components/popup/popup.module.ts
Due: npx eslint --fix

feat: реализовал popup компонент
  src/app/shared/popup-host/popup-host.component.css
  src/app/shared/popup-host/popup-host.component.html
  src/app/shared/popup-host/popup-host.component.ts
  src/app/shared/popup-host/popup-host.module.ts
Due: npx eslint --fix

feat: scroll with loading directive
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/scroll-with-loading/load-direction.enum.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.spec.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.module.ts
Due: npx eslint --fix

feat: scroll listener
  angular.json
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.spec.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.enum.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.module.ts
Due: npx eslint --fix, npm run prettier:fix

feat: реализация ленивой загрузки
  src/app/shared/scroll-with-loading/scroll-with-loading-context.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.spec.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.module.ts
Due: npx eslint --fix

feat: реализация ленивой загрузки
  src/app/shared/scroll-with-loading/scroll-with-loading-context.ts
Due: npx eslint --fix

feat: реализация ленивой загрузки
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npx eslint --fix

feat: lecture-3-dz
  src/app/pages/products-list/card/card.component.ts
Due: npx eslint --fix

feat: add scroll directive
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/scroll-with-loading/load-direction.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.spec.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.module.ts
Due: npx eslint --fix

feat: add directive scroll-with-loading
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/shared/scroll-with-loading/border-offset.const.ts
  src/app/shared/scroll-with-loading/loading-direction.type.ts
  src/app/shared/scroll-with-loading/scroll-with-loading.directive.ts
Due: npx eslint --fix

fix: обновляет код компонента PopupHostComponent
  src/app/components/popup-host/popup-host/popup-host.component.ts
Due: npx eslint --fix

feat: домашнее задание
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/app-scroll-with-loading/app-scroll-with-loading.directive.spec.ts
  src/app/shared/app-scroll-with-loading/app-scroll-with-loading.directive.ts
  src/app/shared/app-scroll-with-loading/app-scroll-with-loading.module.ts
Due: npx eslint --fix

fix: исправление ошибки
  src/app/components/popup-host/popup-host/popup-host.component.ts
Due: npx eslint --fix

fix: add some fixs
  src/app/app.component.css
  src/app/app.component.html
  src/app/components/popuphost/popuphost.component.ts
  src/app/components/sidenav/sidenav.component.css
Due: npx eslint --fix

chore: sanitize project
  src/app/app.component.html
  src/app/app.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/carousel/carousel.directive.ts
Due: npx eslint --fix

feat: lecture 6
  src/app/app.component.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.ts
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/if/if-context.interface.ts
  src/app/shared/if/if.directive.ts
Due: npx eslint --fix

feat: add pagination stand
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
Due: npx eslint --fix

feat: add lodash typings
  package-lock.json
  package.json
Due: npm run prettier:fix

feat: lecture 6 homework
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/pagination/pagination-context.interface.ts
  src/app/shared/pagination/pagination.directive.spec.ts
  src/app/shared/pagination/pagination.directive.ts
  src/app/shared/pagination/pagination.module.ts
Due: npx eslint --fix

feat: lecture-4-dz
  src/app/components/popup-host/popup-host.component.spec.ts
  src/app/components/popup-host/popup-host.component.ts
  src/app/components/popup-host/popup-host.module.ts
Due: npx eslint --fix

fix: color for popup component
  src/app/components/popup-host/popup-host.component.css
Due: none

refactor: exclude method from ngOnChanges
  src/app/components/popup-host/popup-host.component.ts
Due: npx eslint --fix

feat: add scroll
  angular.json
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/appscrollwithloading/appscroll-context.interface.ts
  src/app/shared/appscrollwithloading/appscrollwithloading.directive.ts
  src/app/shared/appscrollwithloading/appscrollwithloading.module.ts
  src/app/shared/appscrollwithloading/load-direction.enum.ts
Due: npx eslint --fix, npm run prettier:fix
