Repository Letto228/Angular-learnjs-261023: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npm run prettier:fix

.lintstagedrc.json:

{
    "*.{ts,js,html}": ["npx eslint --fix"],
    "*.json": ["npm run prettier:fix"]
}

fix: product list layout
  src/app/pages/products-list/products-list.component.css
Due: none

feat: add card component
  angular.json
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npx eslint --fix, npm run prettier:fix

feat: hide reviews chip if there is none
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npx eslint --fix

feat: add card component
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npx eslint --fix

fix: use prevent preventDefault for buy button
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npx eslint --fix

fix: stopPropagation for buy button click event
  src/app/pages/products-list/card/card.component.ts
Due: npx eslint --fix

fix: remove useless click event for card
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npx eslint --fix

lecture-2 dz
  angular.json
  package-lock.json
  package.json
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/index.html
  src/styles.css
Due: npx eslint --fix, npm run prettier:fix

feat: добавляет новый модуль
  src/app/pages/products-list/product-card/README.md
  src/app/pages/products-list/product-card/product-card.component.css
  src/app/pages/products-list/product-card/product-card.component.html
  src/app/pages/products-list/product-card/product-card.component.spec.ts
  src/app/pages/products-list/product-card/product-card.component.ts
  src/app/pages/products-list/product-card/product-card.module.ts
Due: npx eslint --fix

feat: импорт модуля ProductCardModule
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npx eslint --fix

fix: добавляет геттер для метода
  src/app/pages/products-list/product-card/product-card.component.html
  src/app/pages/products-list/product-card/product-card.component.ts
Due: npx eslint --fix

feat: add card component
  src/app/pages/products-list/card/README.md
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npx eslint --fix

fix: заменят интерполяцию на binding
  src/app/pages/products-list/product-card/product-card.component.html
Due: npx eslint --fix

fix: выносит форматтер цены в константу модуля
  src/app/pages/products-list/product-card/product-card.component.ts
Due: npx eslint --fix

refactor: card component
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.ts
Due: npx eslint --fix

feat: homework2
  angular.json
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npx eslint --fix, npm run prettier:fix

feat: добавил компонент карточки
  package-lock.json
  package.json
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
  tsconfig.json
Due: npx eslint --fix, npm run prettier:fix

fix: убирает использование data-атрибута
  src/app/pages/products-list/product-card/product-card.component.html
  src/app/pages/products-list/product-card/product-card.component.ts
Due: npx eslint --fix

lecture-2 fix dz
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/index.html
Due: npx eslint --fix

feat: lecture 3
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.ts
  src/app/components/sidenav/sidenav.component.css
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/components/sidenav/sidenav.module.ts
  src/app/shared/application-config/application-config.interface.ts
  src/app/shared/application-config/application-config.mock.ts
Due: npx eslint --fix

feat: mocks for lecture 3 homework
  src/app/app.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/shared/products/product.mock.ts
  src/app/shared/products/products.mock.ts
Due: npx eslint --fix

feat: add card content
  .eslintrc.js
  .vscode/settings.json
  angular.json
  src/app/pages/products-list/card/README.md
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npx eslint --fix, npm run prettier:fix

feat: add card
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npx eslint --fix

feat: add mat card
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npx eslint --fix

feat: homeWork-2, sorry for late(
  .husky/commit-msg
  .husky/pre-commit
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/pages/products-list/card/README.md
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.spec.ts
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npx eslint --fix

feat: add styling
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/shared/products/product.mock.ts
Due: npx eslint --fix

feat: add button functionality
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npx eslint --fix

fix: remove useless scheme import
  src/app/pages/products-list/card/card.component.ts
Due: npx eslint --fix

fix: cleanup style
  src/app/pages/products-list/products-list.component.css
Due: none

feat: buy product event
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/shared/products/product-buy-info.interface.ts
Due: npx eslint --fix

fix: typo
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix

feat: product is passed from parent component to child component
  .eslintrc.js
  angular.json
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npm run prettier:fix

feat: add data exchange between card and product-list
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix

feat: product to card from parent
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix

fix: get product id from this
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npx eslint --fix

feat: product card with notification
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix

feat: re doing output exercise
  src/app/app.component.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.ts
Due: npx eslint --fix

feat: add buy product binding
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/shared/products/purchased-product.interface.ts
Due: npx eslint --fix

feat: добавлен вывод массива продуктов и передача выбранного к покупке продукта в productList
  package.json
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npm run prettier:fix

feat: домашнее задание #3
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix
